#body{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  background-color: lightgray;
}
#surprise{
grid-row: 1;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: auto;

}
#wrap{
  grid-row: 2;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: auto;
  margin: auto;
}
#forma{
  grid-column: 2;
  text-align: center;
}
#joke{
  grid-row:3;
  padding: 15px;
  display: grid;
  background-color: #037ef3;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
}
#main{
  height: inherit;
}
#movie{
  height: inherit;
  display: grid;
  grid-template-columns:25vw 25vw 50vw;
}
#info{
  grid-column: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left:20px;
}
#poster{
  grid-column: 2;
  display: grid;
  align-items: center;
  justify-content: center;
}
#poster img{
  width: 80%;
  height: auto;
}
#trailer{
  grid-column: 3;
  display: grid;
  height: inherit;
  width: inherit;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
}
#trailer iframe{
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  #movie{
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
  }
  #info{
    grid-row:1;
  }
  #poster{
    grid-row:2;
  }
  #trailer{
    grid-row: 3;
  }
}